.peliculasP {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2em;
}

@media screen and (max-width: 1200px) {
    .peliculasP {
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width: 800px) {
    .peliculasP {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 600px) {
    .peliculasP {
        grid-template-columns: repeat(2,1fr);
    }
}