container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
tamano {
    weight:70px
}
button {
    background-color: red;
    color: white;
    height: 60px;
    border-radius: 20%;
}

