container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button {
    color: white;
    height: 60px;
    border-radius: 12%;
    background-color: #000C54;
    border: 1px white solid;
    margin-right: 2%;
}
.titulo1 {
    font-size: 25px;
    color: white;
}
.calificacion {
    color:white;
}
.caja2 {
    color: white;
    height: 50px;
    width: 160px;
    border-radius: 12%;
    background-color: #000C54;
    border: 1px white solid;
    margin-right: 2%;
    margin-top: 2%;
    text-align: center;
}

