container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerCard {
    display: flex;
    flex-direction: column;
}
button {
    color: white;
    height: 60px;
    border-radius: 12%;
    background-color: #000C54;
    border: 1px white solid;
    margin-right: 2%;
}
.titulo1 {
    font-size: 16px;
    color: white;
    margin: 0.5em 0em;
}
.calificacion {
    color:white;
    color: yellow;
    display: flex;
    gap: 0em 0.2em
}

.calificacion .score{
    color:white;
    font-weight: bold;
}

.caja2 {
    color: white;
    height: 50px;
    width: 160px;
    border-radius: 12%;
    background-color: #000C54;
    border: 1px white solid;
    margin-right: 2%;
    margin-top: 2%;
    text-align: center;
}

.buttonsCard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

