*{
    box-sizing: border-box;
}
header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}
.logo {
    width: 15%;
}
.navegacion {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    
}
ul {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.lista {
    list-style: none;
    text-decoration: none;
    padding: 3%;
    margin: 20px;
}
.formulario {
    width: 20%;
}
.errorBuscador {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 13px;
}
.search {
    border-radius: 9px;
    background-color: #000C54;
    margin-top: 8%;
}
.boton {
    color: white;
}