* {
    box-sizing: border-box;
}
header {
    display:flex;
}
.contlogo {
    width: 15%;
}
.logo {
    width: 75%;
}
.navegacion {
    width: 65%;
}
ul {
    display: flex;
    flex-direction: row;
}
.lista {
    list-style: none;
    text-decoration: none;
    color: white;
}
.formulario {
    width: 20%;
    border-radius: 9px;
    background-color: #000C54;
    border: 1px white solid;
}
.errorBuscador {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 13px;
}