header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.contlogo {
    width: 15%;
}
.logo {
    width: 75%;
}
.navegacion {
    width: 65%;
    margin-top: 1.5%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.lista {
    list-style: none;
    text-decoration: none;
    color: red;
    margin: 20px;
}
.formulario {
    width: 20%;
}
.errorBuscador {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 13px;
}
.search {
    border-radius: 9px;
    background-color: #000C54;
    margin-top: 8%;
}
.boton {
    color: white;
}