*{
    box-sizing: border-box;
}
.ul{
    list-style: none;
    text-decoration: none;
    margin: 20px;
}
a {
    padding-top: 0;
    padding: 5%;
    margin: 35px;
}
.lista {
    list-style: none;
    text-decoration: none;
    color: white;
}
.navegacion {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding-right: 3%;
}
.lista {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0em 1em
}

.listaNavegacion li a{
    text-decoration: none;
    display: flex;
    width: 100px;
}

.listaNavegacion{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}

.opciones {
    text-decoration: none;
    color: white;
    margin: 20px;
}
    

