*{
    box-sizing: border-box;
}
.ul{
    list-style: none;
    text-decoration: none;
    margin: 20px;
}
a {
    padding-top: 0;
    padding: 5%;
    margin: 35px;
}
.lista {
    list-style: none;
    text-decoration: none;
    color: white;
}
.navegacion {
    width: 65%;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding-right: 3%;
}
.lista {
    list-style: none;
}
.opciones {
    text-decoration: none;
    color: white;
    margin: 20px;
}
    

