* {
  box-sizing: border-box;
}
body {
  background-color: #000C54;
  font-family: Avenir,sans-serif;
}
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.contlogo {
  width: 15%;
}
.logo {
  width: 75%;
}
.navegacion {
  width: 65%;
  margin-top: 1.5%;
}
ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.lista {
  list-style: none;
}
.opciones {
  text-decoration: none;
  color: white;
  margin: 20px; 
}
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 15vw;
}
.integrantes {
  color: #C4C4C4;
  margin: 5px 9px;
}